
<div class="section is-primary slick-events">
  <div class="container">
    <div class="columns is-centered carousel-slide">

      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px;">
          <h4>November 15-16, 2017</h4>
        </div>
        <div class="image" style="max-width: 300px;  background-color: black; position: relative; margin: auto; ">
          <a href="https://2017.appdays.fr/en/" target="_blank">
            <img src="<%= image_path('events/appdays.jpg') %>" style="border: solid grey 1px"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <p>APP DAYS</p>
          <span>Paris, France</span>
        </div>
      </div>

      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px;">
          <h4>September 13-14, 2017</h4>
        </div>
        <div class="image image_press">
          <a href="http://dmexco.com/" target="_blank">
            <img src="<%= image_path('events/dmexco.jpg') %>"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <br>
          <p>DMEXCO (Hall 6)</p>
          <span>Cologne, Germany</span>
        </div>
      </div>

      
      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px;">
          <h4>September 7, 2017</h4>
        </div>
        <div class="image image_press">
          <a href="http://rencontres.udecam.fr/" target="_blank">
            <img src="<%= image_path('events/udecam.jpg') %>"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <br>
          <p>UDECAM</p>
          <span>Paris, France</span>
        </div>
      </div>

      
      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px;">
          <h4>July 5, 2017</h4>
        </div>
        <div class="image image_press">
          <a href="http://apppromotionsummit.com/LONDON/2017/" target="_blank">
            <img src="<%= image_path('events/app_summit_london.jpg') %>"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <br>
          <p>APP PROMOTION SUMMIT</p>
          <span>London, UK</span>
        </div>
      </div>

      
      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px; ">
          <h4>July 27-28, 2017</h4>
        </div>
        <div class="image image_press">
          <a href="https://digitaltravel.wbresearch.com/" target="_blank">
            <img src="<%= image_path('events/digital_travel.jpg') %>"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <br>
          <p>DIGITAL TRAVEL SUMMIT</p>
          <span>London, UK</span>
        </div>
      </div>

      
      <div class="column">
        <div style="max-width: 300px; margin: 0 auto 20px; ">
          <h4>June 13-14, 2017</h4>
        </div>
        <div class="image image_press">
          <a href="https://en.imedia-summit.fr/" target="_blank">
            <img src="<%= image_path('events/imedia.jpg') %>"/>
          </a>
          <span class="envelope"><a href="mailto:sales@adikteev.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
        </div>
        <div class="textCarousel">
          <br>
          <p>IMEDIA BRAND SUMMIT</p>
          <span>Cannes, France</span>
        </div>
      </div>


    </div>
  </div>
</div>