---
title: Art Of Siudmak - Gallery
---
<section class="hero  has-background-dark">
  <section class="container">
      <div class="columns">
        <%= partial "modal_card", locals: {
          id: "K40-Ziemia-ofiarujaca-swoje-klejnoty-1088x1368",
          remote: true, color: true,
          title: "The land offering its jewels",
          shop_url: "https://shop.siudmak.fr/fr/couleur/5-la-terre-offrant-ses-joyaux.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "Apparition_irreelle_de_la_muse",
          remote: false, color: false,
          title: "Unreal Appearance of the Muse",
          shop_url: "https://shop.siudmak.fr/en/color/84-unreal-appearance-of-the-muse.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "lespoir",
          remote: false, color: false,
          title: "The Hope",
          shop_url: "https://shop.siudmak.fr/en/color/6-l-espoir.html"
        } %>
      </div>
      <div class="columns">
        <%= partial "modal_card", locals: {
          id: "idylle",
          remote: false, color: false,
          title: "Idylle",
          shop_url: "https://shop.siudmak.fr/en/color/11-idylle.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "fortune",
          remote: false, color: false,
          title: "Fortune",
          shop_url: "https://shop.siudmak.fr/en/color/12-fortune.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "reveetrange",
          remote: false, color: false,
          title: "Strange dream",
          shop_url: "https://shop.siudmak.fr/en/black-white/13-reve-etrange.html"
        } %>
      </div>
      <div class="columns">
        <%= partial "modal_card", locals: {
          id: "leclosionduneetoile",
          remote: false, color: false,
          title: "Hatching of a star",
          shop_url: "https://shop.siudmak.fr/en/color/8-hatching-of-a-star.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "lempereurdusixiemesens",
          remote: false, color: false,
          title: "Emperor of the sixth sense",
          shop_url: "https://shop.siudmak.fr/en/color/9-emperor-of-the-sixth-sense.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "tristanetiseut",
          remote: false, color: false,
          title: "Tristan and Iseut",
          shop_url: "https://shop.siudmak.fr/en/color/10-tristan-et-iseut.html"
        } %>
      </div>
      <div class="columns">
        <%= partial "modal_card", locals: {
          id: "donquichotte",
          remote: false, color: false,
          title: "Don Quichotte",
          shop_url: "https://shop.siudmak.fr/en/black-white/53-don-quichotte.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "la-tentation",
          remote: false, color: false,
          title: "Temptation",
          shop_url: "https://shop.siudmak.fr/en/black-white/14-la-tentation.html"
        } %>
        <%= partial "modal_card", locals: {
          id: "328-Cyfra-6-460x460@400",
          remote: true, color: false,
          title: "6 - Harvest of stars",
          shop_url: "https://shop.siudmak.fr/en/home/61-chiffre-0.html"
        } %>
      </div>
  </section>
</section>

<script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


